<ion-tabs>

  <div class="tabs">
    <ion-tab-bar color="#00A2FF" slot="bottom">
      <ion-tab-button class="homeTab" tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="news">
        <ion-icon name="paper"></ion-icon>
        <ion-label>News</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="">
          <ion-icon name=""></ion-icon>
        </ion-tab-button>
        

      <ion-tab-button tab="videos">
          <ion-icon name="play"></ion-icon>
          <ion-label>Videos</ion-label>
        </ion-tab-button>

      <ion-tab-button tab="contact">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>Contact</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </div>
  <div class="footer">
      <button routerLink="/tabs/donation" class="btnDonate"><ion-ripple-effect></ion-ripple-effect><ion-icon name="cash"></ion-icon></button>
  </div> 
  

</ion-tabs>
