.tabs{
    background-color: #00A2FF;
    color: white;
}
.footer{
    margin-bottom: 50px;
    position: absolute;
    top: 90.5%;
    width: 75px;
    left: 40.25%;
    right: 46.25%;
}
.btnDonate{
    background-color: #00D845;
    width: 75px;
    height: 75px;
    position: relative;
    border-radius: 50%;
    color: white;
    font-size: 35px;
    // &:hover{
    //     background-color: #36F172;
    //     width: 80px;
    //     height: 80px;
    // }
}

