page-home {
}

.nav{
    background-color: #00A2FF;
    width: 100%;
}

.title
{
    color: white;
    position: relative;
    left: 25%;
    right: 25%;
    width: 50%;
    text-align: center;
}

.menuIco{
    width: 50px;
    height: 50px;
}


.body{
    position: absolute;
}

.homeImg
{
    position: relative;
    margin-top: 35%;
    animation-name: slideLeft;
    animation-duration: 2s;
}

.menuButton{
    background-color:transparent; 
    border-color: transparent;
    box-shadow: 0px 0px;
    position: relative;
    height: 50px;
    margin-top: 5%;
}


@keyframes slideLeft
{   
    from{
        margin-left: 100%;
    }
    to{
        margin-left: 0%;
    }
}

