page-news {

}
.nav
{
    background-color: #00A2FF;
    position: absolute;
}
.title
{
    color: white;
    position: relative;
    left: 25%;
    right: 25%;
    width: 50%;
    text-align: center;
}
.menuButton{
    background-color:transparent; 
    border-color: transparent;
    box-shadow: 0px 0px;
}