<ion-header>
    <div class="header">
      <ion-toolbar color="#00A2FF">
        <ion-title class="title">News</ion-title>
      </ion-toolbar>
    </div>
  </ion-header>

<ion-content>
  <ion-list>
      <ion-item routerLink="/tabs/donation">
        <ion-thumbnail>
          <img src="https://static1.squarespace.com/static/582f2a75414fb5c5d7172211/t/5ba29eacb8a045e82a32378a/1537384155646/blank-thumbnail.jpg?format=750w">
        </ion-thumbnail>
        <ion-label>
          <h2>News one</h2>
          <p>Blablablablablablablablalblaba</p>
        </ion-label>
      </ion-item>    
    <ion-item routerLink="/tabs/donation">
        <ion-thumbnail>
            <img src="https://static1.squarespace.com/static/582f2a75414fb5c5d7172211/t/5ba29eacb8a045e82a32378a/1537384155646/blank-thumbnail.jpg?format=750w">
          </ion-thumbnail>
        <ion-label>
          <h2>News two</h2>
          <p>Blablablablablablablablalblaba</p>
        </ion-label>
    </ion-item>
    <ion-item routerLink="/tabs/donation">
        <ion-thumbnail>
            <img src="https://static1.squarespace.com/static/582f2a75414fb5c5d7172211/t/5ba29eacb8a045e82a32378a/1537384155646/blank-thumbnail.jpg?format=750w">
          </ion-thumbnail>
        <ion-label>
          <h2>News three</h2>
          <p>Blablablablablablablablalblaba</p>
        </ion-label>
    </ion-item>
    <ion-item routerLink="/tabs/donation">
        <ion-thumbnail>
            <img src="https://static1.squarespace.com/static/582f2a75414fb5c5d7172211/t/5ba29eacb8a045e82a32378a/1537384155646/blank-thumbnail.jpg?format=750w">
          </ion-thumbnail>
        <ion-label>
          <h2>News four</h2>
          <p>Blablablablablablablablalblaba</p>
        </ion-label>
    </ion-item>
    <ion-item routerLink="/tabs/donation">
        <ion-thumbnail>
            <img src="https://static1.squarespace.com/static/582f2a75414fb5c5d7172211/t/5ba29eacb8a045e82a32378a/1537384155646/blank-thumbnail.jpg?format=750w">
          </ion-thumbnail>
        <ion-label>
          <h2>News five</h2>
          <p>Blablablablablablablablalblaba</p>
        </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
