<ion-header>
  <div class="header">
    <ion-toolbar color="#00A2FF">
      <ion-title class="title">Blue Dream</ion-title>
    </ion-toolbar>
  </div>
  
</ion-header>

<ion-content>
  <img class="homeImg" src="../../assets/homeimg.png" alt="img">
  <div class="aboutUs">
    <h3 class="subTitle">About us</h3>

    <p class="text">
        The meaning of "Blue Dream".<br> <br>
        Blue symbolizes trust, loyalty, wisdom, confidience, intelligence, faith, truth and heaven. <br><br>
        We've decided to turn the symbol of blue color into a dream that is to be achieved. We intend to help people who are willing to survive and achieve their goals, especially the infants and the eldery people. <br><br>
        With this app, anyone who wants to contribute can help the people in need with just one click.<br><br>
        It will be demonstrated through a video that we will not keep the money we've collected, it will be used with a benifit for the needy people.<br> <br>
        For more info you can click here to <a href="#">Contact us</a>.
    </p>
  </div>
</ion-content>
