<ion-header>
    <div class="header">
      <ion-toolbar class="logo" color="#00A2FF">
        <img src="../../assets/icon/testLogo.png">
      </ion-toolbar>
    </div>
  </ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-thumbnail>
            <img src="https://static1.squarespace.com/static/582f2a75414fb5c5d7172211/t/5ba29eacb8a045e82a32378a/1537384155646/blank-thumbnail.jpg?format=750w">
          </ion-thumbnail>
          <ion-label>
            <h2>Video 1</h2>
            <p>Video 1 description</p>
          </ion-label>
        </ion-item>    
      <ion-item>
          <ion-thumbnail>
              <img src="https://static1.squarespace.com/static/582f2a75414fb5c5d7172211/t/5ba29eacb8a045e82a32378a/1537384155646/blank-thumbnail.jpg?format=750w">
            </ion-thumbnail>
          <ion-label>
              <h2>Video 2</h2>
              <p>Video 2 description</p>
          </ion-label>
      </ion-item>
      <ion-item>
          <ion-thumbnail>
              <img src="https://static1.squarespace.com/static/582f2a75414fb5c5d7172211/t/5ba29eacb8a045e82a32378a/1537384155646/blank-thumbnail.jpg?format=750w">
            </ion-thumbnail>
          <ion-label>
              <h2>Video 3</h2>
              <p>Video 3 description</p>
          </ion-label>
      </ion-item>
      <ion-item>
          <ion-thumbnail>
              <img src="https://static1.squarespace.com/static/582f2a75414fb5c5d7172211/t/5ba29eacb8a045e82a32378a/1537384155646/blank-thumbnail.jpg?format=750w">
            </ion-thumbnail>
          <ion-label>
              <h2>Video 4</h2>
              <p>Video 4 description</p>
          </ion-label>
      </ion-item>
      <ion-item>
          <ion-thumbnail>
              <img src="https://static1.squarespace.com/static/582f2a75414fb5c5d7172211/t/5ba29eacb8a045e82a32378a/1537384155646/blank-thumbnail.jpg?format=750w">
            </ion-thumbnail>
          <ion-label>
              <h2>Video 5</h2>
              <p>Video 5 description</p>
          </ion-label>
      </ion-item>
      
    </ion-list>
</ion-content>
